<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tour-heading" data-cy="TourCreateUpdateHeading">Create or edit a Tour</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN']"
          class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN']"
          class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN']"
          class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN']"
          class="row mb-3">
          <label class="form-label" for="field_image">Image</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('image')!.value"
              alt="tour image"
            />
            <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(editForm.get('image')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_image" data-cy="image" (change)="setFileData($event, 'image', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image" formControlName="image" />
          <input
            type="hidden"
            class="form-control"
            name="imageContentType"
            id="field_imageContentType"
            formControlName="imageContentType"
          />
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN']"
          class="row mb-3">
          <label class="form-label" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN']"
          class="row mb-3">
          <label class="form-label" for="field_persons">Persons</label>
          <input type="number" class="form-control" name="persons" id="field_persons" data-cy="persons" formControlName="persons" />
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']"
          class="row mb-3">
          <label class="form-label" for="field_hot">Hot</label>
          <input type="checkbox" class="form-check" name="hot" id="field_hot" data-cy="hot" formControlName="hot" />
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']"
          class="row mb-3">
          <label class="form-label" for="field_discoint">Discoint</label>
          <input type="number" class="form-control" name="discoint" id="field_discoint" data-cy="discoint" formControlName="discoint" />
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN']"
          class="row mb-3">
          <label for="field_categories">Category</label>
          <select class="form-control" id="field_categories" data-cy="category" multiple name="categories" formControlName="categories">
            <option
              [ngValue]="getSelectedCategory(categoryOption, editForm.get('categories')!.value)"
              *ngFor="let categoryOption of categoriesSharedCollection; trackBy: trackCategoryById"
            >
              {{ categoryOption.name }}
            </option>
          </select>
        </div>

        <div *jhiHasAnyAuthority="['ROLE_ADMIN']"
          class="row mb-3">
          <label class="form-label" for="field_tourCompany">Tour Company</label>
          <select class="form-control" id="field_tourCompany" data-cy="tourCompany" name="tourCompany" formControlName="tourCompany">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                tourCompanyOption.id === editForm.get('tourCompany')!.value?.id ? editForm.get('tourCompany')!.value : tourCompanyOption
              "
              *ngFor="let tourCompanyOption of tourCompaniesSharedCollection; trackBy: trackTourCompanyById"
            >
              {{ tourCompanyOption.tourCompanyName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
